h1 {
  color: #414141;
}

li {
  list-style: none;
  text-decoration: none;
}

input {
  color: #212529;
}

.todo-input {
  height: 2.5rem;
  padding: 0 3rem;
}

.todo-btn {
  height: 2.5rem;
  padding-inline: 0.8em;
  color: white;
  background-color: #0d6efd;
  border: none;
}
